.text-div {
  display: flex;
  justify-content: space-evenly;
  align-items: stretch;
  flex-flow: column nowrap;
  padding: 16px 32px;
  border-radius: 10px;
  border: solid 4px black;
  box-shadow: black 8px 8px;
  transition: all .25s;
}

.text-div > label {
  margin: 16px 0 0 0;
  text-align: center;
  font-size: 32px;
  letter-spacing: 8px;
  text-transform: uppercase;
  text-shadow: 2px 2px 1px black;
  color: var(--clr-lbl);
}

.text-div > textarea {
  margin: 16px 0;
  border-radius: 8px;
  height: 40%;
  padding: 16px;
  border: 2px solid snow;
  background-color: var(--clr-txa);
  color: var(--clr-txa-txt);
}

.text-div-bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 35%;
}

.counter-div {
  display: flex;
  flex-flow: column nowrap;
  flex-basis: 45%;
  padding: 8px 16px;
  border: solid 3px black;
  box-shadow: black 2px 2px;
  border-radius: 8px;
  background-color: var(--clr-counter-div);
  filter: opacity(0.5);
  transition: 0.5s all;
}

.metrics-div {
  display: flex;
  align-items: center;
  border-bottom: solid 2px black;
}

.metrics-div h3 {
  margin: 8px;
}

.fa-gauge-simple {
  margin: 0 2px 0 4px;
}

.counter-div p {
  margin: 8px;
  line-height: 1.5;
}

.counter-div ul {
  margin: 0 0 8px 0;
}

#char-counter-amendment {
  display: none;
}

.text-btn-div {
  align-self: center;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  background-color: var(--clr-btn);
  border-radius: 16px;
  border: solid 3px black;
  box-shadow: black 2px 2px;
  margin-bottom: 16px;
  width: content;
  padding: 8px;
  margin: auto;
  transition: all .5s;
  filter: opacity(.5);
}

.text-btn-div-btn {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  border: solid 3px black;
  box-shadow: black 4px 4px;
  margin: 8px 0 16px 0;
  transition: all .25s;
}

.text-btn-div-btn:hover {
  transform: translate(1px,2px);
}

.text-btn-div-btn:active {
  transform: translate(2px,4px);
}

.span-div {
  font-size: 12px;
  text-transform: uppercase;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 8px 0;
  transition: all .25s;
}