#input-cell {
  grid-area: input;
  margin: 32px 0 0 16px;
  background-color: var(--clr-input);
}

#input-cell > textarea {
}

#input-cell > label {
    text-decoration-line: overline;
    text-decoration-style: wavy;
}

#input-cell .counter-div {
    background-color: var(--clr-input-counter);
}

#clean-text {
    font-weight: bold;
    margin-right: 8px;
    transition: all .25s;
}

#clean-btn {
    background-color:var(--clr-clean-btn);
    transition: all .25s;
}
