#output-cell {
    grid-area: output;
    margin: 32px 16px 0 0;
    background-color: var(--clr-output);
}

#output-cell > label {
    text-decoration-line: overline;
    text-decoration-style: solid;
}

#output-cell .counter-div {
    background-color: var(--clr-output-counter);
}

#copy-text {
    font-weight: bold;
    margin-right: 8px;
}

#copy-btn {
    background-color: var(--clr-copy-btn);
}